* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(134, 126, 18);
}


.main {
  /* position: relative; */
  /* color: white; */
  height: auto;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
}

.body-container img {
  width: 20%;
  background-color: white;
  border-radius: 50%;
  margin: 10px 0 10px 0;
}

.newTasks {
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
  border: 2px solid;
  border-color: rgb(245, 152, 39);
  padding-bottom: 60px;
}
 
.body-container input {
  width: 100%;
  padding: 10px;
  border-radius: 18px;
  border-color: rgb(245, 152, 39);
  border-width: 3px;
}

.search-bar {
  position: relative;
  margin: 20px 0 20px 0;
}
.search-bar svg {
  position: absolute;
  right: 15px;
  top: 13px;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 40%;
  padding: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin: 0 auto;
}

.addTasksBtn {
  display: flex;
  margin: -50px auto 0 auto;
  background-color: rgb(245, 152, 39);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(100, 100, 100);
}

.addTasksBtn svg {
  align-self: center;
  margin-inline: auto;
  color: white;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
}

footer svg {
  color: black;
}

.modal {
  position: fixed;
  background-color: white;
  width: 35%;
  height: 60vh;
  top: 20%;
  left: 32%;
  padding: 5px;
}

.modal input, .modal textarea {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border-color: rgb(245, 152, 39);
  border-width: 3px;
}

.addBtn {
  background-color: rgb(245, 152, 39);
  color: white;
  padding: 5px 20px;
  cursor: pointer;
}

.showModal {
  display: block;
}

.hideModal {
  display: none;
}

.empty-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.new-task-section {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
}

.tasks-text {
  margin: 20px;
}

.new-task-section svg {
  display: block;
  margin: 20px;
  cursor: pointer;
}



@media only screen and (max-width: 700px) {
  .main {
    width: 100%;
  }

  footer {
    width: 100%;
  }

  .modal {
    width: 80%;
    left: 10%;
    height: 40%;
  }
  
}

.circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 5px solid white;
  border-radius: 50%;
  position: relative;
  /* animation: rotate 50s linear infinite; */
  transform-origin: center;
}

.timer {
  text-align: center;
}

/* .time {
  color: ;
} */

.line {
  width: 90%;
  height: 2px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0;
  transform: translate(-50%, -50%) scaleX(0);
  /* animation: expand 50s linear infinite; */
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
    border-color: red;
  }
}

@keyframes expand {
  100% {
    transform: translate(-50%, -50%) scaleX(1);
    background-color: red;
  }
}